* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'Source Sans Pro Topnav', sans-serif;
  vertical-align: baseline;
  font-size: 62.5%;
  
}

#root {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem 6rem;
  text-align: center;
  font-size: 8rem;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  place-items: center;
  height: 100%;
  position: relative;

}

a {
  text-decoration: none;
}
:root {
  --primary:#fa5530;
  --secondary:#fde48f;
  --white: #fffbf8;
  --box-shadow: 0px 4px 70px 0px rgba(30, 40, 52, .08);
}


header {
  box-shadow: var(--box-shadow);
}
nav {
  font-size: 8rem;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
  
  h1 {
    font-weight: 700;
    font-size: 4.5rem;
  }
  input {
    width: 22rem;
    height: 3rem;
    border: 1px solid black;
    font-size: 1.8rem;
    border-radius: .7rem;
    padding: 0 1.6rem;
  }
  ul {
    gap: 1rem;
    display: flex;
    list-style-type: none;
    // align-self: flex-end;
    // position: absolute;
    right: 0;
  }
}
main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: var(--primary);
  color: var(--white);
}
.blog-container {
  // display: flex;
  // justify-content: center;
  // gap: .5rem;
  // margin: 1rem;
  display: grid;
  max-width: 700px;
  margin-inline: auto;
  // padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  // gap: 24px;
 article {
  border: 1px solid black;
  width: 10rem;
  height: 15rem;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
 }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: .5rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto 0;
  padding: 3rem;
  height: 50px;

 
  box-shadow: var(--box-shadow);
  .footer-link {
    display: flex;
    img {
      opacity: .7;
      height: 2.5rem;
    }
  }
  h1 {
    font-size: 1rem;
  }
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}



article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}