* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'Source Sans Pro Topnav', sans-serif;
  vertical-align: baseline;
  font-size: 62.5%;
  
}

body {
  place-items: center;
  height: 100vh;
  // position: relative;
  // overflow: scroll;
  z-index: 1;
}

#root {
  // width: 1280px;
  // margin: 0 auto;
  // padding: 2rem 6rem;
  text-align: center;
  font-size: 8rem;
  height: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}



a {
  text-decoration: none;
}
:root {
  --primary:#b9ebf4;
  --secondary:#ca786d;
  --third: #FFB0B0;
  --grey: #EFECEC;
  --white: #fffbf8;
  --box-shadow: 0px 4px 70px 0px rgba(30, 40, 52, .08);
}


header {
  box-shadow: var(--box-shadow);
}
nav {
  font-size: 8rem;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
  border-bottom: 2px solid var(--third);
  
  h1 {
    font-weight: 700;
    font-size: 4.5rem;
    a {
      color: var(--secondary)
    }
  }
  input {
    width: 22rem;
    height: 3rem;
    border: 1px solid black;
    font-size: 1.8rem;
    border-radius: .7rem;
    padding: 0 1.6rem;
  }
  ul {
    gap: 1rem;
    display: flex;
    list-style-type: none;
    // align-self: flex-end;
    // position: absolute;
    right: 0;
  }
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  // justify-content: center;
  align-items: center;
  height: auto;
  gap: 1rem;
  // padding: auto, 0;
  // background: var(--primary);
  // color: var(--white);
  // overflow: auto;
  // position: absolute;
  // z-index: 4;
  flex-grow: 1;
  // overflow: auto;
}

.blogs{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
  .heading-container {
    height: 300px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h1 {
      font-weight: 800;
      color: var(--secondary);
      font-size: 9rem;
    }
  }
  .blog-container {
    align-items: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    // background: var(--secondary);
    // width: 650px;
   .blog-article {
    width: 5em;
    height: 10em;
    position: relative;
    width: 400px;
    gap: 5rem;
    // border-radius: 16px
    // background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    // align-content: space-between;
    // font-size: 3rem;
    img {
      height: 10rem;
      width: 10rem;
    }
    .blog-content {
      font-size: 2.5rem;
      font-weight: 600;
      // text-align: justify;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
  
      p {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }
   }
  }
}
.blog {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  margin: 2rem;
  gap: 1rem;
  text-align: justify;
  .blog-title {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
  }
  .blog-date {
    font-size: 1.125rem;
    line-height: 1.125rem;
    align-self: flex-end;
  }
  .blog-content {
    font-size: 22px;
  }
}

.blog-container {
  align-items: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  // background: var(--secondary);
  // width: 650px;
  border-top: 2px solid var(--third);
 .blog-article {
  width: 5em;
  height: 10em;
  position: relative;
  width: 400px;
  gap: 2rem;
  margin: 1rem;
  // border-radius: 16px
  // background: var(--white);
  display: flex;
  // justify-content: center;
  align-items: center;
  // align-content: space-between;
  // font-size: 3rem;
  img {
    height: 10rem;
    width: 10rem;
    flex-shrink: 0;
  }
  .blog-content {
    font-size: 2.0rem;
    font-weight: 600;
    text-align: justify;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    // flex-shrink: 10000;
    p {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
 }
}

.comments-container {
  width: 100%;
  font-size: 3.5rem;
  border-top: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #d0c9c845;
  border-top: 2px solid var(--third);

}
.comments-article {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  gap: .5rem;
  padding: 1rem;
  margin: 1rem;
  .user-heading {
    font-weight: bold;
  }
  .comment-date {
    font-size: 1.25rem;
  }
  .comment-message{
    font-size: 1.5rem;
  }
}

.comment-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
  .titleContainer {
    font-size: 2.5rem;
    font-size: bold;
  }
  textarea {
    resize: none;
  }
  .inputBox {
    width: 30rem;
    height: 10rem;
    font-size: 15px;
    padding: 1rem;
    outline: none;
  }
  .inputBox.user {
    height: 3rem;
  }
  .inputButton {
    background-color: white;
    width: 6.5rem;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
    :active{
      vertical-align: top;
      padding: 8px 13px 6px;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: .5rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto 0;
  padding: 3rem;
  height: 50px;

 
  box-shadow: var(--box-shadow);
  .footer-link {
    display: flex;
    img {
      opacity: .7;
      height: 2.5rem;
    }
  }
  h1 {
    font-size: 1rem;
  }
}


